/.vs/CropView/v15/*.suo
/CropView/CropView.Android/*.user
/CropView/CropView.Android/Resources/Resource.Designer.cs
/CropView/CropView.Android/bin/Debug
/CropView/CropView.Android/obj/Debug
/CropView/CropView/bin/Debug
/CropView/CropView/obj/Debug
/.vs
/CropView/CropView.Android/bin
/CropView/CropView.Android/obj
/CropView/CropView.iOS/bin
/CropView/CropView.iOS/obj
/CropView/CropView/bin
/CropView/CropView/obj
